<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/96d7c77b-afdb-4943-9f86-58274d9651fa/resourcegroups/Ambasada/providers/Microsoft.Web/sites/AmbasadaAPINET2018</ResourceId>
    <ResourceGroup>Ambasada</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ambasadaapinet2018.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ambasadaapinet2018.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AmbasadaAPINET2018</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AmbasadaAPINET2018</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AmbasadaModelConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=teamlambda.database.windows.net;Initial Catalog=Ambasada;User ID=lambda;Password=teamL4mbd4!;Application Name=EntityFramework" Name="Data Source=teamlambda.database.windows.net;Initial Catalog=Ambasada;User ID=lambda;Password=teamL4mbd4!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AmbasadaAPI.NET.Models.AmbasadaModel, AmbasadaAPI.NET" MigrationConfiguration="AmbasadaAPI.NET.Migrations.Configuration, AmbasadaAPI.NET" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AmbasadaModelConnection-Web.config Connection String">
      <ParameterValue>Data Source=teamlambda.database.windows.net;Initial Catalog=Ambasada;User ID=lambda;Password=teamL4mbd4!;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>